---
export interface Props {
  url?: string;
  image?: ImageProps;
}

export const defaultProps = {
  image: {
    src: "[@props]: IMAGE_SRC_NOT_FOUND",
  },
  url: "[@props]: URL_NOT_FOUND",
};
const { image, url } = Astro.props;
---

<div class="w-full px-4 mb-12 md:w-auto md:mb-0">
  <a href={url ?? defaultProps.url}>
    <img
      src={image?.src}
      class="object-fit h-48"
      alt={image?.alt ?? defaultProps.image.alt}
    />
  </a>
</div>
