---
import Legal from "@includes/static/Footer/Legal.astro";
import Links from "@includes/static/Footer/Links.astro";
import Header from "@includes/static/Footer/Header.astro";
import Favicon from "@includes/static/Footer/Favicon.astro";
import CallToAction from "@includes/static/Footer/CallToAction.astro";

import type { LinkProps } from "@typings/Links";
export interface Props {
  links?: LinkProps[];
  favicon?: any;
  legal?: any;
  cta?: any;
  header?: any;
}

export const defaultProps = {
  links: [
    ...new Array<LinkProps>(3).map((link) => ({
      name: "[@props]",
      url: "[@props]",
    })),
  ],
};

const { favicon, header, cta, legal } = Astro.props;
---

<section
  class="pt-24 w-full flex cursor-pointer backdrop-blur-lg bg-white dark:bg-black bg-opacity-10 dark:bg-opacity-50 md:pt-32"
>
  <div class="container px-4 mx-auto w-full">
    <div class="pb-24">
      <div class="flex flex-wrap items-center justify-between mb-20 -mx-4">
        <Favicon {...favicon} />
        <CallToAction {...cta} />
      </div>
      <Header {...header} />
    </div>
  </div>
  <Legal {...legal} />
</section>
