---
export interface Props {
  title?: string;
  subTitle?: string;
}

export const defaultProps = {
  title: "Props",
  subTitle: "Props",
};

const { title, subTitle } = Astro.props;
---

<h2
  class="font-heading font-major_mono text-black dark:text-white text-5xl sm:text-7xl mb-2"
>
  {title ?? defaultProps.title}
</h2>
<h3
  class="font-heading font-major_mono text-black dark:text-white text-2xl sm:text-4xl mb-10"
>
  {title ?? defaultProps.title}
</h3>

<p class="mb-2 font-light font-share_tech text-black dark:text-white text-2xl">
  Mon - Fr 8:00 - 20:00 CET
</p>
<p class="mb-14 font-light font-share_tech text-black dark:text-white text-2xl">
  Hotline +44 223 448 0171
</p>
