<section class="relative pt-24 pb-24 overflow-hidden bg-gray-100 md:pb-52">
    <div class="absolute top-0 right-0 hidden h-full mt-40 mr-20 lg:block">
      <a class="inline-block" href="#">
        <img class="w-16 h-16" src="wrexa-assets/logos/logo-wrexa.svg" alt="">
      </a>
      <div class="hidden w-px h-full mx-auto mt-24 bg-gray-200 lg:block"></div>
    </div>
    <div class="container px-4 mx-auto">
      <div class="flex items-center mb-18">
        <span class="text-xl font-heading">02</span>
        <div class="w-1 h-1 mx-4 bg-gray-200 rounded-full"></div>
        <span class="text-xl font-heading">Creative team</span>
      </div>
      <div class="mb-12 lg:hidden">
        <a class="inline-block" href="#">
          <img class="w-16 h-16" src="wrexa-assets/logos/logo-wrexa.svg" alt="">
        </a>
      </div>
      <div class="max-w-3xl mb-24 xl:max-w-4xl sm:mb-44">
        <h1 class="mb-8 text-4xl font-heading sm:text-5xl md:text-6xl">&ldquo;Alone we can do so little, together we can do so much.&rdquo;</h1>
        <p class="max-w-xl font-light">The house by the pond cras ornare, some chords for a three moments, like a sense of truth that comes from within. The final game.</p>
      </div>
      <div class="max-w-3xl lg:max-w-4xl 2xl:max-w-5xl 3xl:max-w-7xl">
        <div class="flex flex-wrap -mx-4 -mb-16">
          <div class="w-full px-4 mb-16 md:w-1/2 xl:w-1/3">
            <img class="block w-full mb-14 object-coverrounded-md" src="wrexa-assets/images/team1.png" alt="">
            <h4 class="mb-2 text-2xl">Ethan Orio O.Son</h4>
            <span class="text-lg text-indigo-500">Design Director</span>
          </div>
          <div class="w-full px-4 mb-16 md:w-1/2 xl:w-1/3">
            <img class="block w-full mb-14 object-coverrounded-md" src="wrexa-assets/images/team2.png" alt="">
            <h4 class="mb-2 text-2xl">Olivia Milner</h4>
            <span class="text-lg text-indigo-500">Co-Founder</span>
          </div>
          <div class="w-full px-4 mb-16 md:w-1/2 xl:w-1/3">
            <img class="block w-full mb-14 object-coverrounded-md" src="wrexa-assets/images/team3.png" alt="">
            <h4 class="mb-2 text-2xl">Wera Livington</h4>
            <span class="text-lg text-indigo-500">Product Designer</span>
          </div>
          <div class="w-full px-4 mb-16 md:w-1/2 xl:w-1/3">
            <img class="block w-full mb-14 object-coverrounded-md" src="wrexa-assets/images/team4.png" alt="">
            <h4 class="mb-2 text-2xl">Henric Johnson</h4>
            <span class="text-lg text-indigo-500">Reasercher</span>
          </div>
          <div class="w-full px-4 mb-16 md:w-1/2 xl:w-1/3">
            <img class="block w-full mb-14 object-coverrounded-md" src="wrexa-assets/images/team5.png" alt="">
            <h4 class="mb-2 text-2xl">Paul Alleson</h4>
            <span class="text-lg text-indigo-500">Designer</span>
          </div>
          <div class="w-full px-4 mb-16 md:w-1/2 xl:w-1/3">
            <img class="block w-full mb-14 object-coverrounded-md" src="wrexa-assets/images/team6.png" alt="">
            <h4 class="mb-2 text-2xl">Patrick R.Bamford</h4>
            <span class="text-lg text-indigo-500">Communication</span>
          </div>
        </div>
      </div>
    </div>
  </section>