---
import type { ImpageProps } from "@typings/Image";

export interface Props {
  image?: ImageProps;
  url?: string;
}

export const defaultProps: Props = {
  image: {
    src: "[@props]: SRC_NOT_FOUND",
    alt: "[@props]: ALT_NOT_FOUND",
  },
  url: "[@props]: URL_NOT_FOUND",
};

const { image, url } = Astro.props;
---

<a class="self-center inline-block" href={url ?? defaultProps.url}>
  <img
    class="h-14"
    src={image?.src ?? defaultProps.image.src}
    alt=""
    width="auto"
  />
</a>
