<div
  class="absolute bottom-0 hidden transform -translate-x-1/2 3xl:block left-1/2"
>
  <ul class="flex items-end">
    <li class="mr-5">
      <a
        class="inline-flex items-center pb-5 pr-8 text-sm text-white hover:text-gray-200"
        href="#"
      >
        <span class="mr-4">Collection</span>
        <svg
          width="12"
          height="7"
          viewBox="0 0 12 7"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M10 2L6 6L2 2"
            stroke="white"
            stroke-width="1.5"
            stroke-miterlimit="10"
            stroke-linecap="square"
            stroke-linejoin="round"></path>
        </svg>
      </a>
      <div class="border-b-4 border-lime-900"></div>
    </li>
    <li class="pb-6 mr-20">
      <a class="inline-block text-sm text-white hover:text-gray-200" href="#"
        >Projects</a
      >
    </li>
    <li class="pb-6 mr-20">
      <a class="inline-block text-sm text-white hover:text-gray-200" href="#"
        >About</a
      >
    </li>
    <li class="pb-6 mr-20">
      <a class="inline-block text-sm text-white hover:text-gray-200" href="#"
        >How to Start</a
      >
    </li>
    <li class="pb-6">
      <a class="inline-block text-sm text-white hover:text-gray-200" href="#"
        >Your Design</a
      >
    </li>
  </ul>
</div>
