<section class="py-10 overflow-hidden">
  <div class="container mx-auto px-4">
    <div class="relative py-16 px-8 overflow-hidden rounded-xl">
      <div class="absolute top-0 left-1/2 min-w-max transform -translate-x-1/2">
        <div class="absolute bg-gradient-radial-white w-full h-full"></div><img
          src="zanrly-assets/images/faq/pattern-gray.png"
          alt=""
        />
      </div>
      <div class="relative z-10">
        <div class="mb-10 md:max-w-xl mx-auto text-center">
          <span
            class="inline-block mb-5 text-sm text-blue-500 font-bold uppercase tracking-widest"
            >Frequently asked questions</span
          >
          <h2
            class="font-heading mb-6 text-4xl md:text-5xl lg:text-6xl text-gray-900 font-black tracking-tight"
          >
            Got questions? We’re here to help!
          </h2>
          <p class="text-gray-500 font-bold">How can we help you?</p>
        </div>
        <div class="max-w-3xl mx-auto">
          <div class="flex flex-wrap -m-3 mb-10">
            <div class="w-full p-3">
              <a class="block p-10 bg-gray-100 rounded-3xl" href="#">
                <div class="flex flex-wrap -m-2">
                  <div class="flex-1 p-2">
                    <h3
                      class="font-heading mb-4 text-xl text-gray-900 font-black"
                    >
                      Do you provide any free plan?
                    </h3>
                    <p class="text-gray-500 font-bold">
                      Lorem ipsum dolor sit amet, to the consectr adipiscing
                      elit. Volutpat tempor to the condi mentum vitae vel purus.
                    </p>
                  </div>
                  <div class="w-auto p-2">
                    <svg
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M6.07928 15.82L12.3093 15.82L17.9193 15.82C18.8793 15.82 19.3593 14.66 18.6793 13.98L13.4993 8.80001C12.6693 7.97001 11.3193 7.97001 10.4893 8.80001L8.51928 10.77L5.30927 13.98C4.63927 14.66 5.11928 15.82 6.07928 15.82Z"
                        fill="#D1D5DB"></path>
                    </svg>
                  </div>
                </div></a>
            </div>
            <div class="w-full p-3">
              <a class="block p-10 bg-gray-100 rounded-3xl" href="#">
                <div class="flex flex-wrap -m-2">
                  <div class="flex-1 p-2">
                    <h3 class="font-heading text-xl text-gray-900 font-black">
                      How to claim your 25% discount offer?
                    </h3>
                  </div>
                  <div class="w-auto p-2">
                    <svg
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M17.9207 8.17999H11.6907H6.08072C5.12072 8.17999 4.64073 9.33999 5.32073 10.02L10.5007 15.2C11.3307 16.03 12.6807 16.03 13.5107 15.2L15.4807 13.23L18.6907 10.02C19.3607 9.33999 18.8807 8.17999 17.9207 8.17999Z"
                        fill="#D1D5DB"></path>
                    </svg>
                  </div>
                </div></a>
            </div>
            <div class="w-full p-3">
              <a class="block p-10 bg-gray-100 rounded-3xl" href="#">
                <div class="flex flex-wrap -m-2">
                  <div class="flex-1 p-2">
                    <h3 class="font-heading text-xl text-gray-900 font-black">
                      What’s your refund policy?
                    </h3>
                  </div>
                  <div class="w-auto p-2">
                    <svg
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M17.9207 8.17999H11.6907H6.08072C5.12072 8.17999 4.64073 9.33999 5.32073 10.02L10.5007 15.2C11.3307 16.03 12.6807 16.03 13.5107 15.2L15.4807 13.23L18.6907 10.02C19.3607 9.33999 18.8807 8.17999 17.9207 8.17999Z"
                        fill="#D1D5DB"></path>
                    </svg>
                  </div>
                </div></a>
            </div>
            <div class="w-full p-3">
              <a class="block p-10 bg-gray-100 rounded-3xl" href="#">
                <div class="flex flex-wrap -m-2">
                  <div class="flex-1 p-2">
                    <h3 class="font-heading text-xl text-gray-900 font-black">
                      How to get support for the product?
                    </h3>
                  </div>
                  <div class="w-auto p-2">
                    <svg
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M17.9207 8.17999H11.6907H6.08072C5.12072 8.17999 4.64073 9.33999 5.32073 10.02L10.5007 15.2C11.3307 16.03 12.6807 16.03 13.5107 15.2L15.4807 13.23L18.6907 10.02C19.3607 9.33999 18.8807 8.17999 17.9207 8.17999Z"
                        fill="#D1D5DB"></path>
                    </svg>
                  </div>
                </div></a>
            </div>
          </div>
          <p class="text-gray-500 font-bold text-center">
            <span>Still have any questions?</span><a
              class="text-blue-500 hover:text-blue-600"
              href="#">Contact us</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
