---
import "@libs/globals.css";
import "react-responsive-carousel/lib/styles/carousel.min.css"; // requires a loader

import Contact from "@includes/static/Contact/index.astro";
import Footer from "@includes/static/Footer/index.astro";
import Header from "@includes/static/Header/index.astro";
import Meta from "@includes/static/Meta/index.astro";
import Compass from "@includes/dynamic/Compass/index";
import ThemeSwitcher from "@includes/static/ThemeSwitcher/index.astro";
import { PageTransition } from "astro-page-transition";
import "flowbite";

export interface Props {
  layout?: {
    header?: any;
    transition?: any;
    contact?: any;
    metaData?: any;
    footer?: any;
  };
}

export const defaultProps = {
  layout: {
    transition: {
      speed: 200,
      background: "black",
      zIndex: 9999999,
    },

    header: {},
    footer: {},
    contact: {},
  },
};
const { layout } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <Meta {...layout.metaData} />
  <body class="m-0 w-full overflow-x-hidden">
    <Header {...layout.header} />
    <slot />
    <Contact {...layout.contact} />
    <Footer {...layout.footer} />
    <Compass client:idle />
    <ThemeSwitcher />
    <PageTransition {...defaultProps.layout.transition} />
  </body>
</html>
