---
import "@libs/globals.css";

import Meta from "@includes/static/Meta/Meta.astro";
import Header from "@includes/dynamic/Header";
import Footer from "@includes/static/Footer/Footer.astro";
import Contact from "@includes/static/Contact/Contact.astro";
---

<!DOCTYPE html>
<html lang="en">
  <Meta />
  <body>
    <Header />
    <slot />
    <Contact />
    <Footer />
  </body>
</html>
