<div class="w-full px-4 md:w-auto">
    <a
      class="inline-block py-4 font-medium text-center text-white transition bg-indigo-500 rounded px-7 hover:bg-indigo-600 duration-250"
      href="#">Get started</a
    >
  </div>