---
import type { FaviconProps } from "@typings/favicon";

export interface Props {
  copyright?: string;
  links?: {
    title?: string;
    links?: LinkProps[];
  }[];
  favicon?: any;
}

export const defaultProps = {
  copyright: "©️ 2023 WTFMVMT. All Rights Reserved.",
  favicon: {
    image: {
      src:"https://res.cloudinary.com/facade-os/image/upload/v1677107489/Fa%C3%A7ade/WTFMVMT/meta/WTFMVMT-FULL-logo-transparent-background-BLACK_suvans.png",
      alt: "Logo"
    },
    url: "URL_NOT_FOUND",
  },
  links: [
    {
      title: "Site Pages",
      links: [
        {
          name: "Events",
        },
        {
          name: "Memberships"
        },
        {
          name: "Partners"
        },
        {
          name: "Affiliates"
        },
        {
          name: "Vendors"
        },
        {
          name: "About"
        },
        {
          name: "Home"
        },
      ],
      
    },
    {
      title: "Events",
      links: [
        {
          name: "AWVRE",
        },
        {
          name: "Hippie Hideout",
        },
        {
          name: "Hippie Lounge",
        },
        {
          name: "The Hvngout",
        },
        {
          name: "ManifeStvtion"
        }
      ],
    },
    {
      title: "Partners",
      links: [
        {
          name: "Mountaintop Entertainment Group, LLC",
        },
        {
          name: "Divergent U",
        },
        {
          name: "Desirable Solutions",
        },
        {
          name: "Diahnn Perry"
        },
        {
          name: "Google Students"
        }
      ],
    },
    {
      title: "Affiliates",
      links: [
        {
          name: "Izo Dae",
        },
        {
          name: "IAMPVYNE",
        },
        {
          name: "Mimi Industries",
        },
        {
          name: "Newly Uncovered Media",
        },
        {
          name: "Desilus Designs",
        },
        {
          name: "Kore Ent",
        },
        {
          name: "MyFriendThayne",
        },
      ]
    }
  ],
};

const { copyright, links, favicon } = Astro.props;
---

<section class="py-10 overflow-hidden">
  <div class="container mx-auto px-4">
    <div class="px-10 pt-10 pb-6 rounded-xl">
      <div class="flex flex-wrap items-center justify-between mb-10 -m-4">
        <div class="w-full md:w-1/2 p-4">
          <a class="inline-block" 
             href={favicon?.url ?? defaultProps.favicon?.url}>
            <img class="h-40" src={favicon?.image?.src ?? defaultProps.favicon?.image?.src}
             alt="" />
             </a>
        </div>
        <div class="w-full md:w-1/2 p-4">
          <div class="md:max-w-md ml-auto">
            <div class="flex flex-wrap items-center -m-2">
              <div class="w-full md:flex-1 p-1.5">
                <input
                  class="px-4 py-2.5 w-full text-sm text-gray-500 font-bold bg-white outline-none focus:ring-4 focus:ring-blue-200 placeholder-gray-500 border border-gray-200 rounded-full"
                  id="footerLightReverse1-1"
                  type="text"
                  placeholder="Email address"
                />
              </div>
              <div class="w-full md:w-auto p-1.5">
                <div class="flex flex-wrap justify-center -m-2">
                  <div class="w-full md:w-auto p-2">
                    <a
                      class="block w-full px-4 py-2.5 text-sm text-center text-white font-bold bg-blue-500 hover:bg-blue-600 focus:ring-4 focus:ring-blue-200 rounded-full"
                      href="#">Get Started</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="p-10 mb-6 bg-gray-100 rounded-3xl">
        <div class="flex flex-wrap justify-between -m-4">
          {
            links
              ? links.map((link) => (
                  <div class="w-auto p-4">
                    <h3 class="font-heading mb-7 text-gray-900 font-bold">
                      {link?.title}
                    </h3>
                    <ul>
                      {link?.links
                        ? link?.links?.map((sub_link) => (
                            <li class="mb-4">
                              <a
                                class="inline-block text-gray-500 hover:text-gray-600 font-bold"
                                href={sub_link?.url ?? null}
                              >
                                {sub_link?.name ?? null}
                              </a>
                            </li>
                          ))
                        : null}
                    </ul>
                  </div>
                ))
              : defaultProps.links.map((link) => (
                  <div class="w-auto p-4">
                    <h3 class="font-heading mb-7 text-gray-900 font-bold">
                      {link?.title}
                    </h3>
                    <ul>
                      {link?.links
                        ? link?.links?.map((sub_link) => (
                            <li class="mb-4">
                              <a
                                class="inline-block text-gray-500 hover:text-gray-600 font-bold"
                                href={sub_link?.url ?? null}
                              >
                                {sub_link?.name ?? null}
                              </a>
                            </li>
                          ))
                        : null}
                    </ul>
                  </div>
                ))
          }
        </div>
      </div>
      <div class="flex flex-wrap justify-center items-center -m-1">
        <div class="w-auto p-1">
          <p class="text-black text-center font-medium">
            {copyright ?? defaultProps.copyright}
          </p>
        </div>
        <div class="w-auto p-1">
          <img class="h-12" src={favicon?.image?.src ?? defaultProps.favicon.image.src}
               alt={favicon?.image?.alt ?? defaultProps.favicon.image.alt} />
        </div>
      </div>
    </div>
  </div>
</section>
