---

import Rating from "@components/static/Rating/Rating.astro"
import Table from "@components/static/PricingTable/Table.astro"
export interface Props {
  title?: string;
  description?: string;
}

export const defaultProps = {
  title: "Check out our Memberships & Services",
  tables: [
    {
      title: "Memberships",
      price: "$25/month",
      cta: {
        name: "Join Now",
      },
      description: "",
    },
    {
      title: "Vendors",
      price: "Starting at $50",
      cta: {
        name: "Join Now",
      },
      description: "",
    },
    {
      title: "Partnerships",
      price: "Starting at $125",
      cta: {
        name: "Join Now",
      },
      description: "",
    },
    {
      title: "Affiliations",
      price: "Starting at $70",
      cta: {
        name: "Join Now",
      },
      description: "",
    },
  ],
  description: `
  Our membership programs offer a range of benefits for individuals looking to 
  grow both personally and professionally. With our mentorship program, you'll 
  have access to experienced professionals who can provide guidance and support 
  as you navigate your career path. Our networking events provide the perfect 
  opportunity to connect with like-minded individuals and build valuable relationships.
  `,
};
const { title, description, tables } = Astro.props;
---

<section class="py-10 overflow-hidden">
  <div class="container mx-auto px-4">
    <div class="py-16 px-8 rounded-xl">
      <div class="max-w-7xl mx-auto">
        <div class="flex flex-wrap -m-8">
          <div class="w-full md:w-1/2 p-8">
            <div class="flex flex-col justify-between md:max-w-sm h-full">
              <div class="flex-initial mb-8">
                <h2
                  class="font-heading mb-8 text-4xl md:text-5xl text-gray-900 font-black tracking-tight"
                >
                  {title ?? defaultProps.title}
                </h2>
                <p class="text-gray-700 font-bold">
                  {description ?? defaultProps.description}
                </p>
              </div>
              <div class="flex-initial">
                <p class="mb-2 text-xs text-gray-700 font-bold uppercase">
                  Trusted by 30k users
                </p>
                <div class="flex flex-wrap -m-0.5 mb-2">
                  <Rating />
                </div>
              </div>
            </div>
          </div>
          <div class="w-full md:w-1/2 p-8">
            <div class="flex flex-wrap -m-4">
              {
                tables
                  ? tables.map((table) => (
                      <div class="w-full lg:w-1/2 p-4">
                        <div class="flex flex-col justify-between p-8 h-full bg-gray-100 rounded-3xl">
                          <div class="flex-initial mb-8">
                            <span class="inline-block mb-6 font-major text-md text-purple-500 font-bold uppercase tracking-widest">
                              {table?.title ?? null}
                            </span>
                            <h2 class="font-heading mb-2 text-4xl text-gray-900 font-black tracking-tight">
                              {table?.price ?? null}
                            </h2>
                            <p class="mb-6 text-sm text-gray-400 font-bold">
                              {table?.description ?? null}
                            </p>
                            <div class="flex flex-wrap -m-2">
                              <div class="w-full p-2">
                                <a
                                  class="block w-full px-8 py-2.5 text-sm text-center text-white font-bold bg-purple-500 hover:bg-purple-600 focus:ring-4 focus:ring-purple-200 rounded-full"
                                  href="#"
                                >
                                  {table?.cta ?? null}
                                </a>
                              </div>
                            </div>
                          </div>
                          <div class="flex-initial">
                            <h4 class="font-heading mb-4 text-gray-900 font-bold">
                              What’s included:
                            </h4>
                            <p class="text-gray-500 font-bold">
                              {table?.features ?? null}
                            </p>
                          </div>
                        </div>
                      </div>
                    ))
                  : defaultProps.tables.map((table) => (
                      <div class="w-full lg:w-1/2 p-4">
                        <div class="flex flex-col justify-between p-8 h-full bg-gray-100 rounded-3xl">
                          <div class="flex-initial mb-8">
                            <span class="inline-block mb-6 text-sm text-purple-500 font-bold uppercase tracking-widest">
                              {table?.title ?? null}
                            </span>
                            <h2 class="font-heading mb-2 text-4xl text-gray-900 font-black tracking-tight">
                              {table?.price ?? null}
                            </h2>
                            <p class="mb-6 text-sm text-gray-400 font-bold">
                              {table?.description ?? null}
                            </p>
                            <div class="flex flex-wrap -m-2">
                              <div class="w-full p-2">
                                <a
                                  class="block w-full px-8 py-2.5 text-sm text-center text-white font-bold bg-purple-500 hover:bg-purple-600 focus:ring-4 focus:ring-purple-200 rounded-full"
                                  href="#"
                                >
                                  {table?.cta?.name ?? null}
                                </a>
                              </div>
                            </div>
                          </div>
                          <div class="flex-initial">
                            <h4 class="font-heading mb-4 text-gray-900 font-bold">
                              What’s included:
                            </h4>
                            <p class="text-gray-500 font-bold">
                              {table?.features ?? null}
                            </p>
                          </div>
                        </div>
                      </div>
                    ))
              }
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
