<section class="relative pt-24 pb-40 bg-white">
  <div class="container px-4 mx-auto relative">
    <div class="sm:flex mb-32">
      <a
        class="inline-block w-full sm:w-auto sm:mr-24 md:mr-40 mb-2 sm:mb-0"
        href="#">Download application</a
      ><a class="inline-block w-full sm:w-auto sm:mr-auto mb-2 sm:mb-0" href="#"
        >Select plan</a
      ><a class="inline-block w-full sm:w-auto" href="#"
        >Start a conversation</a>
    </div>
    <div class="max-w-5xl mx-auto mb-32 text-center">
      <h2 class="font-heading text-4xl md:text-5xl xl:text-6xl mb-10">
        Cloud backup solutions for home and business
      </h2>
      <p class="text-gray-800 font-light">
        The house like a sense of truth that comes from within. The final game.
      </p>
    </div>
    <div class="flex flex-wrap justify-center items-end -mx-4 -mb-16">
      <div class="w-1/2 sm:w-1/3 md:w-1/4 xl:w-auto px-4 mb-16">
        <div class="max-w-xs mx-auto">
          <img
            class="block mx-auto mb-16"
            src="wrexa-assets/logos/brands/miro-clouds.svg"
            alt=""
          />
          <div class="relative h-10 text-center">
            <div
              class="absolute top-0 right-1/2 transform translate-x-1/2 -mt-3 text-white"
            >
              <svg
                width="14"
                height="12"
                viewbox="0 0 14 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M6.16137 1.29115C6.55567 0.684092 7.44433 0.684092 7.83863 1.29115L13.7909 10.4553C14.223 11.1206 13.7456 12 12.9523 12H1.04771C0.254427 12 -0.22302 11.1206 0.209087 10.4553L6.16137 1.29115Z"
                  fill="currentColor"></path>
              </svg>
            </div>
            <span>Miro</span>
          </div>
        </div>
      </div>
      <div class="w-1/2 sm:w-1/3 md:w-1/4 xl:w-auto px-4 mb-16">
        <div class="max-w-xs mx-auto">
          <img
            class="block mx-auto mb-16"
            src="wrexa-assets/logos/brands/spotify-clouds.svg"
            alt=""
          />
          <div class="relative h-10 text-center">
            <div
              class="absolute top-0 right-1/2 transform translate-x-1/2 -mt-3 text-white"
            >
              <svg
                width="14"
                height="12"
                viewbox="0 0 14 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M6.16137 1.29115C6.55567 0.684092 7.44433 0.684092 7.83863 1.29115L13.7909 10.4553C14.223 11.1206 13.7456 12 12.9523 12H1.04771C0.254427 12 -0.22302 11.1206 0.209087 10.4553L6.16137 1.29115Z"
                  fill="currentColor"></path>
              </svg>
            </div>
            <span>Spotify</span>
          </div>
        </div>
      </div>
      <div class="w-1/2 sm:w-1/3 md:w-1/4 xl:w-auto px-4 mb-16">
        <div class="max-w-xs mx-auto">
          <img
            class="block mx-auto mb-16"
            src="wrexa-assets/logos/brands/dropbox-clouds.svg"
            alt=""
          />
          <div class="relative h-10 text-center">
            <div
              class="absolute top-0 right-1/2 transform translate-x-1/2 -mt-3 text-white"
            >
              <svg
                width="14"
                height="12"
                viewbox="0 0 14 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M6.16137 1.29115C6.55567 0.684092 7.44433 0.684092 7.83863 1.29115L13.7909 10.4553C14.223 11.1206 13.7456 12 12.9523 12H1.04771C0.254427 12 -0.22302 11.1206 0.209087 10.4553L6.16137 1.29115Z"
                  fill="currentColor"></path>
              </svg>
            </div>
            <span>Dropbox</span>
          </div>
        </div>
      </div>
      <div class="w-1/2 sm:w-1/3 md:w-1/4 xl:w-auto px-4 mb-16">
        <div class="max-w-xs mx-auto">
          <img
            class="block mx-auto mb-16"
            src="wrexa-assets/logos/brands/slack-clouds.svg"
            alt=""
          />
          <div class="relative h-10 text-center">
            <div
              class="absolute top-0 right-1/2 transform translate-x-1/2 -mt-3 text-white"
            >
              <svg
                width="14"
                height="12"
                viewbox="0 0 14 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M6.16137 1.29115C6.55567 0.684092 7.44433 0.684092 7.83863 1.29115L13.7909 10.4553C14.223 11.1206 13.7456 12 12.9523 12H1.04771C0.254427 12 -0.22302 11.1206 0.209087 10.4553L6.16137 1.29115Z"
                  fill="currentColor"></path>
              </svg>
            </div>
            <span>Slack</span>
          </div>
        </div>
      </div>
      <div class="w-1/2 sm:w-1/3 md:w-1/4 xl:w-auto px-4 mb-16">
        <div class="max-w-xs mx-auto">
          <img
            class="block mx-auto mb-16"
            src="wrexa-assets/logos/brands/wetransfer-clouds.svg"
            alt=""
          />
          <div class="relative h-10 text-center">
            <div
              class="absolute top-0 right-1/2 transform translate-x-1/2 -mt-3 text-white"
            >
              <svg
                width="14"
                height="12"
                viewbox="0 0 14 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M6.16137 1.29115C6.55567 0.684092 7.44433 0.684092 7.83863 1.29115L13.7909 10.4553C14.223 11.1206 13.7456 12 12.9523 12H1.04771C0.254427 12 -0.22302 11.1206 0.209087 10.4553L6.16137 1.29115Z"
                  fill="currentColor"></path>
              </svg>
            </div>
            <span>WeTransfer</span>
          </div>
        </div>
      </div>
      <div class="w-1/2 sm:w-1/3 md:w-1/4 xl:w-auto px-4 mb-16">
        <div class="max-w-xs mx-auto">
          <img
            class="block mx-auto mb-16"
            src="wrexa-assets/logos/brands/google-clouds.svg"
            alt=""
          />
          <div class="relative h-10 text-center">
            <div
              class="absolute top-0 right-1/2 transform translate-x-1/2 -mt-3 text-white"
            >
              <svg
                width="14"
                height="12"
                viewbox="0 0 14 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M6.16137 1.29115C6.55567 0.684092 7.44433 0.684092 7.83863 1.29115L13.7909 10.4553C14.223 11.1206 13.7456 12 12.9523 12H1.04771C0.254427 12 -0.22302 11.1206 0.209087 10.4553L6.16137 1.29115Z"
                  fill="currentColor"></path>
              </svg>
            </div>
            <span>Google</span>
          </div>
        </div>
      </div>
      <div class="w-1/2 sm:w-1/3 md:w-1/4 xl:w-auto px-4 mb-16">
        <div class="max-w-xs mx-auto">
          <img
            class="block mx-auto mb-16"
            src="wrexa-assets/logos/brands/mediafire-clouds.svg"
            alt=""
          />
          <div class="relative h-10 text-center">
            <div
              class="absolute top-0 right-1/2 transform translate-x-1/2 -mt-3 text-white"
            >
              <svg
                width="14"
                height="12"
                viewbox="0 0 14 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M6.16137 1.29115C6.55567 0.684092 7.44433 0.684092 7.83863 1.29115L13.7909 10.4553C14.223 11.1206 13.7456 12 12.9523 12H1.04771C0.254427 12 -0.22302 11.1206 0.209087 10.4553L6.16137 1.29115Z"
                  fill="currentColor"></path>
              </svg>
            </div>
            <span>Mediafire</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
